* {
  box-sizing: border-box;
}

.categoryCard {
  height: 330px;
  width: 90%;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  margin: 15px auto;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .desc {
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .title {
    position: absolute;
    top: 40px;
    left: 15px;
  }
}
