.featured {
  display: flex;
  justify-content: center;
  background-color: #013914;
  color: white;
  font-family: "Montserrat", sans-serif;
  height: 89vh;
  max-height: 900px;

  &.tablet{
    .container{
      .left{
        padding: 0 8%;
      }
    }
  }

  .container {
    width:85%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    gap: 20px;

    .left {
      display: flex;
      flex-direction: column;
      flex: 10;

      h1 {
        i {
          font-weight: normal;
        }
      }

      .search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        border-radius: 5px;

        .searchInput {
          display: flex;
          align-items: center;
          gap: 0px;
          width: 100%;
          height: 100%;

          img {
            height: 20px;
            margin: 9px 15px;
          }

          input {
            border: none;
            outline: none;
            width: 100%;
            height: 50px;
            padding: 0;
          }
        }

        button {
          width: 120px;
          height: 50px;
          border: none;
          background-color: #1dbf73;
          color: white;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: #10a15d;
          }
        }
      }

      .popular {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 20px;

        button {
          color: white;
          background-color: transparent;
          border: 2px solid white;
          padding: 6px 10px;
          border-radius: 20px;
          cursor: pointer;

          &:hover {
            background-color: white;
            color: #013914;
          }
        }
      }
    }

    .right {
      flex: 9;
      height: 100%;
      display: flex;
      align-items: end;
      img {
        // height: 100%;
        width: 100%;
      }
    }
  }
}
