.websiteFeatures {
  display: flex;
  justify-content: center;
  background-color: #f1fdf7;

  .container {
    display: flex;

    &.smallScreen {
      flex-direction: column-reverse;

      .right{
        padding: 50px 0;
      }
    }

    .left {
      padding-right: 50px;
      flex: 3;

      h2 {
        font-size: 2rem;
        margin-top: 20px;
      }

      .features {
        margin-bottom: 25px;
        .featureTitle {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            height: 25px;
          }
          h3 {
            margin: 0;
          }
        }

        p {
          margin-top: 10px;
          color: gray;
        }
      }
    }

    .right {
      flex: 4;
      padding: 80px 0;
      video {
        width: 100%;
      }
    }
  }
}
