.projectCard {
  margin: 15px auto;
  width: 280px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .info {
    display: flex;
    gap: 10px;
    padding: 5px;
    img {
      height: 45px;
      width: auto;
      border-radius: 50%;
    }

    .textInfo {
      h4 {
        margin: 0;
      }
    }
  }
}
