* {
  box-sizing: border-box;
}

.categoryCard {
  height: 330px;
  width: 230px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .desc {
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .title {
    position: absolute;
    top: 40px;
    left: 15px;
  }
}
