* {
  box-sizing: border-box;
}

.marketPlace {
  display: flex;
  justify-content: center;

  margin: 70px 0;
  .container {
    .row {
      display: flex;
      flex-wrap: wrap;
      margin-top: 40px;

      .column {
        flex: 16.66%;
        max-width: 16.66%;
      }
    }

    &.laptop {
      .row {
        gap: 0;
        .column {
          margin: 5px 0;
          flex: 20%;
          max-width: 20%;
        }
      }
    }

    &.tabletPortrait {
      .row {
        gap: 0;
        .column {
          margin: 5px 0;
          flex: 25%;
          max-width: 25%;
        }
      }
    }
    
    &.tablet {
      .row {
        gap: 0;
        .column {
          margin: 5px 0;
          flex: 33.3%;
          max-width: 33.3%;
        }
      }
    }
    
    &.mobile {
      .row {
        gap: 0;
        .column {
          margin: 5px 0;
          flex: 50%;
          max-width: 50%;
        }
      }
    }
  }
}
