.home {
  .homePageSliderContainer {
    width: 85%;
    max-width: 1350px;

    display: flex;
    flex-direction: column;
  }
  
  .popularServices {
    display: flex;
    justify-content: center;
    padding: 40px 0 60px 0;
  }

  .homePageGigSlider {
    display: flex;
    justify-content: center;
    padding: 60px 0;
  }
}
