.home {
  .homePageSliderContainer {
    width: 85%;
    max-width: 1350px;

    display: flex;
    flex-direction: column;
  }
  
  .popularServices {
    display: flex;
    justify-content: center;
    padding: 2.5rem 0 2rem;
  }

  .homePageGigSlider {
    display: flex;
    justify-content: center;
    padding: 2.5rem 0;
  }
}
