body {
  margin: 0px;
}
// Note how with display: flex, properties like flex-direction, justify-content, align-items, gap are mostly being used
.navbar {
  display: flex;
  flex-direction: column;
  // justify-content: center; //align in the direction of flex
  align-items: center; // align in the direction that is 90 degrees to the direction of flex
  font-family: "Montserrat", sans-serif;
  background-color: #013914;
  color: white;
  transition: 0.5s all ease;
  z-index: 99;

  position: sticky;
  top: 0; // position for sticky

  &.active {
    background-color: white;
    color: black;

    .container {
      button {
        color: black;
      }
    }
  }

  .container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;

    .logo {
      font-size: 34px;
      font-weight: bold;
      padding: 10px 0;

      .dot {
        color: #1dbf73;
      }
    }

    .links {
      display: flex;
      align-items: center; //align vertically
      gap: 20px;
      font-weight: 500;

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        position: relative;
        padding: 10px 0;

        img {
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        .options {
          position: absolute;
          top: 60px;
          right: -30px;
          padding: 20px;
          background-color: white;
          border: 1px solid lightgray;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          color: rgb(77, 77, 77);
          width: 150px;
          font-weight: 300;
          font-size: 0.9rem;
        }
      }

      button {
        color: white; //font color
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        cursor: pointer;
        background-color: transparent;

        &:hover {
          background-color: #1dbf73;
          border-color: #1dbf73;
        }
      }
    }
  }

  hr {
    width: 100%;
    height: 0;
    border: 0.1px solid lightgray;
    margin: 0;
  }

  .menu {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    color: gray;

    .link {
      padding: 8px;

      &:hover {
        color: rgb(34, 34, 34);
        background-color: lightgray;
      }
    }
  }
}
