* {
  box-sizing: border-box;
}

.marketPlace {
  display: flex;
  justify-content: center;

  margin: 70px 0;
  .container {
    width: 80%;
    max-width: 1400px;

    .row {
      display: flex;
      flex-wrap: wrap;
      margin-top: 40px;
      padding: 0 20px;

      .column {
        flex: 16%;
      }
    }
  }
}
