.myGigs {
  display: flex;
  justify-content: center;
  margin: 5vh 0;
  .container {
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        padding: 8px 20px;
        border: none;
        background-color: #1dbf73;
        color: white;
        border-radius: 4px;
        font-size: 15px;
        &:hover {
          background-color: #199f61;
          cursor: pointer;
        }
      }
    }

    table {
      width: 100%;
      tr {
        height: 50px;

        th {
          text-align: left;
        }

        td {
          .gigImg {
            height: 25px;
            width: 50px;
            object-fit: cover;
          }

          .deleteImg {
            height: 22px;
            cursor: pointer;
          }
        }

        &:nth-child(even){
            background-color: #1dbf730f;
        }

      }
    }
  }
}
