.orders {
    display: flex;
    justify-content: center;

    .container {
      width: 1200px;
      margin: 30px 0;
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        h1{
            margin: 0;
        }
      }
  
      table {
        width: 100%;
        tr {
          height: 50px;
  
          th {
            text-align: left;
          }
  
          td {
            .gigImg {
              height: 25px;
              width: 50px;
              object-fit: cover;
            }
  
            .messageImg {
              height: 22px;
              cursor: pointer;
            }
          }
  
          &:nth-child(even){
              background-color: #1dbf730f;
          }
  
        }
      }
    }
  }
  